<form class="form-inline" action="/maps" method="get" accept-charset="utf-8">
  <div>
    <input id="address" class="span4" type="text" name="address" value="" />
    <input class="btn" type="submit" value="Search">
  </div>
</form>
<div id="main"></div>
<div id="map">
  <img id="map-image" src="" alt="" />
</div>